# It is quite possible that testing would work with lower versions of
# these packages but only the pinned versions have been tested

pytest-cov>=2.5.1
pytest-mock>=1.9.0
pytest>=3.0.5
PyYAML>=3.12
tox>=3.0.0
-r requirements-docs.txt
